
<style>
    body {
      
        background-color: #f5f7fa;
        color: #3D6379;
        line-height: 1.6;
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 100%;
        margin: 50px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    h1, h2 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
        color: #2C4A60;
    }

    p {
        font-size: 18px;
        margin: 15px 0;
    }

    .verse, .prayer {
        font-size: 20px;
        font-weight: 500;
        color: #3D6379;
        margin: 20px 0;
        padding: 10px;
        border-right: 4px solid #2C4A60;
        background-color: #f9fbfc;
        border-radius: 5px;
    }

    .divider {
        border-top: 2px dashed #3D6379;
        margin: 30px 0;
    }

    .highlight {
        font-weight: bold;
        text-decoration: underline;
    }

    .source {
        font-size: 16px;
        color: #2C4A60;
        font-style: italic;
    }
</style>
<div class="page-wrapper">
    <div class="content">





        <div class="row">
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="dash-widget">
                    <div class="dash-widgetimg">
                        <span><img src="assets/img/icons/dash1.svg" alt="img"></span>
                    </div>
                    <div class="dash-widgetcontent">
                        <h5>$<span class="counters" data-count="307144.00">$307,144.00</span></h5>
                        <h6>Total Purchase Due</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="dash-widget dash1">
                    <div class="dash-widgetimg">
                        <span><img src="assets/img/icons/dash2.svg" alt="img"></span>
                    </div>
                    <div class="dash-widgetcontent">
                        <h5>$<span class="counters" data-count="4385.00">$4,385.00</span></h5>
                        <h6>Total Sales Due</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="dash-widget dash2">
                    <div class="dash-widgetimg">
                        <span><img src="assets/img/icons/dash3.svg" alt="img"></span>
                    </div>
                    <div class="dash-widgetcontent">
                        <h5>$<span class="counters" data-count="385656.50">385,656.50</span></h5>
                        <h6>Total Sale Amount</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="dash-widget dash3">
                    <div class="dash-widgetimg">
                        <span><img src="assets/img/icons/dash4.svg" alt="img"></span>
                    </div>
                    <div class="dash-widgetcontent">
                        <h5>$<span class="counters" data-count="40000.00">400.00</span></h5>
                        <h6>Total Sale Amount</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12 d-flex">
                <div class="dash-count">
                    <div class="dash-counts">
                        <h4>100</h4>
                        <h5>Customers</h5>
                    </div>
                    <div class="dash-imgs">
                        <i data-feather="user"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12 d-flex">
                <div class="dash-count das1">
                    <div class="dash-counts">
                        <h4>100</h4>
                        <h5>Suppliers</h5>
                    </div>
                    <div class="dash-imgs">
                        <i data-feather="user-check"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12 d-flex">
                <div class="dash-count das2">
                    <div class="dash-counts">
                        <h4>100</h4>
                        <h5>Purchase Invoice</h5>
                    </div>
                    <div class="dash-imgs">
                        <i data-feather="file-text"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12 d-flex">
                <div class="dash-count das3">
                    <div class="dash-counts">
                        <h4>105</h4>
                        <h5>Sales Invoice</h5>
                    </div>
                    <div class="dash-imgs">
                        <i data-feather="file"></i>
                    </div>
                </div>
            </div>
        </div>




     


            <div class="container">
                <h1>بسم الله الرحمن الرحيم</h1>
                <p class="verse">
                    (وَمَا تَوْفِيقِي إِلَّا بِاللَّهِ عَلَيْهِ تَوَكَّلْتُ وَإِلَيْهِ أُنِيبُ)<br />
                    <span class="source">صدق الله العظيم</span>
                </p>

                <h2 class="highlight">دعاء دخول السوق</h2>
                <p class="prayer">
                    (لا إله إلا الله وحده لا شريك له، له الملك وله الحمد يحي ويميت وهو حي لا يموت، بيده الخير وهو على كل شيء قدير)
                </p>

                <div class="divider"></div>

                <p class="prayer">
                    اللهم إني أصبحت أشهدك وأشهد حملة عرشك، وملائكتك وجميع خلقك بأنك أنت الله لا إله إلا أنت وحدك لا شريك لك، وأن محمدًا عبدك ورسولك...
                </p>
                <p class="prayer">
                    اللهم ما أصبح بي من نعمة أو بأحد من خلقك، فمنك وحدك لا شريك لك، فلك الحمد ولك الشكر
                </p>
                <p class="prayer">
                    اللهم عافني في بدني، اللهم عافني في سمعي، اللهم عافني في بصري، لا إله إلا أنت. اللهم إني أعوذ بك من الكفر، والفقر، اللهم إني أعوذ بك من عذاب القبر لا إله إلا أنت
                </p>

                <div class="divider"></div>

                <p class="verse">
                    (اللَّهُ يَبْسُطُ الرِّزْقَ لِمَنْ يَشَاءُ وَيَقْدِرُ وَفَرِحُوا بِالْحَيَاةِ الدُّنْيَا وَمَا الْحَيَاةُ الدُّنْيَا فِي الْآخِرَةِ إِلَّا مَتَاعٌ)<br />
                    <span class="source">صدق الله العظيم</span>
                </p>
            </div>
      





    </div>
</div>
  