
@font-face {
    font-family: 'jfflat-bold';
    src: url('../font/jfflat-bold.woff') format('woff'), url('../font/jfflat-bold.woff2') format('woff2');
}


body {
    color: #888ea8;
    height: 100%;
    font-size: 0.875rem;
    background: #f1f2f3;
    overflow-x: hidden;
    overflow-y: auto;
    letter-spacing: 0.0312rem;
    font-family: 'jfflat-bold';
}


.auth-container {
    min-height: 100vh;
}

.card {
    background-color: transparent;
    border: 1px solid #e0e6ed;
    box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.06);
    border-radius: 10px;
    background: #fff;
}

    .card .card-body {
        padding: 24px 20px;
        flex: 1 1 auto;
    }

h1, h2, h3, h4, h5, h6 {
    color: #3b3f5c;
    font-family: 'jfflat-bold';
}

p {
    margin-top: 0;
    margin-bottom: 0.625rem;
    color: #515365;
}

.form-label {
    margin-bottom: .5rem;
    font-size: 15px;
    color: #0e1726;
    letter-spacing: 1px;
    display: inline-block;
}

.form-control {
    height: auto;
    border: 1px solid #bfc9d4;
    color: #3b3f5c;
    font-size: 15px;
    padding: 8px 10px;
    letter-spacing: 1px;
    padding: 0.55rem 0.55rem;
    border-radius: 6px;
    background: #fff;
    height: auto;
    transition: none;
}

    .form-control:focus {
        box-shadow: none;
        border-color: #4361ee;
        color: #3b3f5c;
        background-color: #fff;
        outline: 0;
    }

.btn {
    padding: 0.4375rem 1.25rem;
    text-shadow: none;
    font-size: 14px;
    color: #3b3f5c;
    font-weight: normal;
    white-space: normal;
    word-wrap: break-word;
    transition: 0.2s ease-out;
    touch-action: manipulation;
    border-radius: 6px;
    cursor: pointer;
    background-color: #e0e6ed;
    will-change: opacity, transform;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.btn-primary {
    color: #fff !important;
    background-color: #4361ee !important;
    border-color: #4361ee;
    box-shadow: 0 10px 20px -10px rgba(27, 85, 226, 0.59);
}


.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.btn-primary:hover, .btn-primary:focus {
    color: #fff !important;
    background-color: #4361ee !important;
    box-shadow: none;
    border-color: #4361ee !important;
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
}

.seperator {
    position: relative;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid #515365;
}

.seperator .seperator-text {
    position: absolute;
    top: -10px;
    display: block;
    text-align: center;
    width: 100%;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
}

    .seperator .seperator-text span {
        background-color: #fafafa;
        padding: 0 12px;
        display: inline-block;
    }



.navbar > .container, .navbar > .container-fluid, .navbar > .container-lg, .navbar > .container-md, .navbar > .container-sm, .navbar > .container-xl, .navbar > .container-xxl{
    flex-direction:row-reverse;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
        flex-direction: row-reverse;
    }


    .navbar-expand-lg .navbar-nav {
        flex-direction: row-reverse;
    }
}

.bg-surface-secondary {
    background-color: #f5f9fc !important;
}



.layout-top-spacing {
    margin-top: 20px;
}

.layout-spacing {
    padding-bottom: 24px;
}

.br-8 {
    border-radius: 8px !important;
}

.widget-content-area {
    border: 1px solid #e0e6ed;
    box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.06);
    padding: 0;
    background-color: #fff;
    position: relative;
}



.table {
    color: #515365;
    border-collapse: separate;
    border-spacing: 0;
}

    .table thead {
        color: #515365;
        letter-spacing: 1px;
    }

table.dataTable > thead > tr, table.dataTable > tfoot > tr {
    border: none;
}

.table > :not(:first-child) {
    border: none;
}

.table tbody tr td {
    border: none;
    padding: 10px 21px 10px 21px;
    vertical-align: middle;
    letter-spacing: normal;
    font-weight: 400;
}

.table-cancel {
    color: #515365;
    margin-right: 6px;
    vertical-align: middle;
    fill: none;
    cursor: pointer;
}

.footer-wrapper {
    padding: 10px 0 10px 0;
    display: inline-block;
    background: transparent;
    font-weight: 600;
    font-size: 12px;
    width: 100%;
    border-top-left-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding: 10px 24px 10px 24px;
    margin: auto;
    margin-top: 15px;
}

    .footer-wrapper .footer-section p {
        margin-bottom: 0;
        color: #888ea8;
        font-size: 14px;
        letter-spacing: 1px;
    }

        .footer-wrapper .footer-section p a {
            color: #888ea8;
        }

    .footer-wrapper .footer-section p {
        margin-bottom: 0;
        color: #888ea8;
        font-size: 14px;
        letter-spacing: 1px;
    }

    .footer-wrapper .footer-section svg {
        color: #e7515a;
        fill: #e7515a;
        width: 15px;
        height: 15px;
        vertical-align: sub;
    }


.table > tbody .action-btns .action-btn svg {
    width: 20px;
    height: 20px;
    color: #888ea8;
    stroke-width: 2;
}

.table > tbody .action-btns .btn-delete svg {
    color: #f8538d;
}

.media {
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}

.avatar {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    font-size: 1rem;
}

    .avatar img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }


#headerWrapper {
    padding: 30px 50px;
}

    #headerWrapper:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
        pointer-events: none;
        height: 280px;
        background-color: #4361ee;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23009d8a'/%3E%3Cstop offset='1' stop-color='%230052cf'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%230078ad'/%3E%3Cstop offset='1' stop-color='%230052cf'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.1' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        background-attachment: fixed;
        background-size: cover;
    }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    #headerWrapper:before {
        background-image: none;
    }
}

#headerWrapper .main-heading {
    color: #fff;
    margin: 0;
}

    #headerWrapper .main-heading i {
        font-size: 50px;
        vertical-align: sub;
    }

/*
    ======================
        Privacy Wrapper
    ======================
*/
#privacyWrapper {
    padding: 80px 0;
}

    #privacyWrapper .privacy-container {
        max-width: 815px;
        margin: 0 auto;
    }

   .privacyContent {
        padding: 30px 30px;
        background: #fff;
        margin-top: -60px;
        border-radius: 5px;
        -webkit-box-shadow: 0 0.1px 0px rgba(0, 0, 0, 0.002), 0 0.2px 0px rgba(0, 0, 0, 0.003), 0 0.4px 0px rgba(0, 0, 0, 0.004), 0 0.6px 0px rgba(0, 0, 0, 0.004), 0 0.9px 0px rgba(0, 0, 0, 0.005), 0 1.2px 0px rgba(0, 0, 0, 0.006), 0 1.8px 0px rgba(0, 0, 0, 0.006), 0 2.6px 0px rgba(0, 0, 0, 0.007), 0 3.9px 0px rgba(0, 0, 0, 0.008), 0 7px 0px rgba(0, 0, 0, 0.01);
        box-shadow: 0 0.1px 0px rgba(0, 0, 0, 0.002), 0 0.2px 0px rgba(0, 0, 0, 0.003), 0 0.4px 0px rgba(0, 0, 0, 0.004), 0 0.6px 0px rgba(0, 0, 0, 0.004), 0 0.9px 0px rgba(0, 0, 0, 0.005), 0 1.2px 0px rgba(0, 0, 0, 0.006), 0 1.8px 0px rgba(0, 0, 0, 0.006), 0 2.6px 0px rgba(0, 0, 0, 0.007), 0 3.9px 0px rgba(0, 0, 0, 0.008), 0 7px 0px rgba(0, 0, 0, 0.01);
        text-align:right;
        direction:rtl;
    }

        #privacyWrapper .privacyContent .privacy-head {
            margin-bottom: 40px;
            padding-bottom: 40px;
            border-bottom: 1px solid #e0e6ed;
        }

        #privacyWrapper .privacyContent .privacyHeader h1 {
            font-weight: 600;
        }

        #privacyWrapper .privacyContent .privacyHeader p {
            margin-bottom: 0;
            font-size: 16px;
        }

        #privacyWrapper .privacyContent .get-privacy-terms svg {
            margin-right: 12px;
        }

    #privacyWrapper .privacy-content-container section:not(:last-child) {
        margin-bottom: 45px;
    }

    #privacyWrapper .privacy-content-container h5 {
        margin-bottom: 24px;
        color: #4361ee
    }

    #privacyWrapper h5 {
        margin: 0;
        font-weight: 600;
        font-size: 22px;
        letter-spacing: 1px;
    }

        #privacyWrapper h5.policy-info-ques {
            color: #666666;
            font-weight: 600;
        }

/*
    ==========================
        Mini Footer Wrapper
    ==========================
*/

#miniFooterWrapper {
    color: #fff;
    font-size: 14px;
    border-top: solid 1px #ffffff;
    padding: 14px;
    -webkit-box-shadow: 0px -1px 20px 0 rgba(31,45,61,.1);
    box-shadow: 0px -1px 20px 0 rgba(31,45,61,.1);
}

    #miniFooterWrapper .arrow {
        background-color: #4361ee;
        border-radius: 50%;
        position: absolute;
        z-index: 2;
        top: -33px;
        width: 40px;
        height: 40px;
        box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.2);
        left: 0;
        right: 0;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        cursor: pointer;
    }

        #miniFooterWrapper .arrow p {
            align-self: center;
            margin-bottom: 0;
            color: #fff;
            font-weight: 600;
            font-size: 15px;
            letter-spacing: 1px;
        }

    #miniFooterWrapper .copyright a {
        color: #4361ee;
        font-weight: 700;
        text-decoration: none;
    }