@{
    ViewData["Title"] = "عن البرنامج";
}
@section Styles {
    <style>
        body {
            direction: rtl;
            text-align: right;
        }
        table {
            width: 100%;
        }
        .MsoListParagraphCxSpFirst, .MsoListParagraphCxSpMiddle, .MsoListParagraphCxSpLast {
            margin-right: 31.5pt;
            text-indent: -18pt;
        }
    </style>
}
<div class="page-wrapper">
    <h2>@ViewData["Title"]</h2>
    <table>
        <tr>
            <td>
                <span><b><span style="color: #FF0000">البرنامج</span></b></span>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    <span><b>هو فكرة جديدة في عالم الأسهم يعتمد على معادلات يمكن بنائها من قبل المستخدم نفسه وحسب مايريد وهو مايميز به البرنامج من مرونة التعامل مع السوق المالية، وكذلك ليتمكن فيها المستخدم من وضع طرق آمنة للتعامل مع السوق بشكل يومي ولحظي، وهو مصمم ليناسب جميع المستويات، مبتدئين (بعد أخذ دورة مبسطة عن السوق)، ومتوسطي المستوى، والمحترفين، خاصة للمهتمين بالشموع اليابانية.</b></span>
                </p>
                <p>
                    <span><b>ويعتمد على المجهود الذاتي، للمستخدم، وهو الذي سوف يضع طرق تعامله وإستراتيجته مع السوق المالية.</b></span>
                </p>
                <p>
                    <span><b>وما يتميز فيه البرنامج أيضا هو مرونته وإمكانية التعديل عليه والتغيير حسب معطيات السوق المالية.</b></span>
                </p>
                <p>
                    <span><b><u style="color: #FF0000">(إبراء ذمة):</u></b></span>
                </p>
                <p>
                    <span><b>إدارة البرنامج تبرأ إلى الله من سوء إستخدام البرنامج في تداول الأسهم الربوية أو المشبوهه والغير جائزة المضاربة فيها أو الإستثمار، حسب فتاوي علمائنا الأفاضل، وأسأل الله أن يرزقنا وأياكم الرزق الحلال وأن يبارك لنا فيه، اللهم آمين.</b></span>
                </p>
                <p>
                    <span><b><u style="color: #FF0000">حقوق الملكية للبرنامج:</u></b></span>
                </p>
                <p>
                    <span><b>إن هذا البرنامج هو ملك لصاحبه ولا يحق لأي شخص أو جهة، إستخدامه إلا بموافقته، أو الإتفاق معه مسبقا، وهذا البرنامج معد فقط للاستخدام الشخصي والخاص.<br />إن استخدام البرنامج بدون إذن أو تصريح مكتوب من قبل صاحب البرنامج أو إستخدام البرنامج لغرض النشر أو التوزيع غير مسموح، مما قد يعرض مستخدمه للمسائلة القانونية.</b></span>
                </p>
                <p>
                    <span><b>ولأننا نرغب في نشر المعرفة والاستفادة من البرنامج ووصوله الى أكبر عدد ممكن من الأفراد فإننا لن نتوانى عن إعطاء الإذن للراغبين في الإستفادة من البرنامج، آخذين بعين الاعتبار الأمور التالية:</b></span>
                </p>
                <p>
                    <span><b>1) فهم للبرنامج ومحتوياته وكيفية استخدامه.</b></span>
                </p>
                <p>
                    <span><b>2) أن المواد والأفكار الموجودة في البرنامج لاتقدم توصيات او تكتلات او قروبات ولاتدعمها.</b></span>
                </p>
                <p>
                    <span><b>3) البرنامج يعتمد على طرق و آراء فنيه بحته وفق نظريات رقميه خاصه .. تحتمل الصواب والخطأ .. ونرحب بالأراء والنقاشات الهادفة للوصول الى ماهو مفيد وعلمي ..في هذا المجال.</b></span>
                </p>
                <p>
                    <span><b>4) ضمان حق صاحب البرنامج كمنتج خاص به، وكذلك خدمة جميع المستخدمين له.</b></span>
                </p>
                <p>
                    <span><b><u style="color: #FF0000">مميزات وخصائص البرنامج:</u></b></span>
                </p>
                <p class="MsoListParagraphCxSpFirst">
                    <span><b>1- إمكانية المضاربة اليومية واللحظية.</b></span>
                </p>
                <p class="MsoListParagraphCxSpMiddle">
                    <span><b>2- مرونة التعامل مع البرنامج.</b></span>
                </p>
                <p class="MsoListParagraphCxSpLast">
                    <span><b>3- سهولة وإمكانية بناء المعادلات.</b></span>
                </p>
                <p>
                    <span><b><u style="color: #FF0000">البرمجة:</u></b></span>
                </p>
                <p class="MsoListParagraphCxSpFirst">
                    <span><b>- تمت البرمجة باستخدام Visual Studio 2013.</b></span>
                </p>
                <p class="MsoListParagraphCxSpMiddle">
                    <span><b>- لغة البرمجة ASP.NET & C#.</b></span>
                </p>
                <p class="MsoListParagraphCxSpLast">
                    <span><b>- قاعدة البيانات SQL Express.</b></span>
                </p>
                <p class="MsoListParagraphCxSpLast">
                    <span><b>- يتألف البرنامج من حوالي 12,400 سطر برمجي.</b></span>
                </p>
                <div class="dataTables_empty">
                    <span><b>والله ولي التوفيق.</b></span>
                </div>
            </td>
        </tr>
    </table>
</div>