@{
    ViewData["Title"] = "تعليمات البرنامج";
}
@section Styles {
    <style>
        body {
            direction: rtl;
            text-align: right;
        }

        ul {
            list-style-type: none;
        }

            ul ul {
                list-style-type: disc;
            }
    </style>
}
<div class="page-wrapper">
    <h2>@ViewData["Title"]</h2>
    <ul>
        <li>
            <b>صفحة إعدادات البرنامج</b>
            <ul>
                <li>
                    <b>قسم إدارة القطاعات</b>
                    <ul>
                        <li>قسم إدارة القطاعات يستخدم لتحديد الشركات التابعة لقطاع معين او تحديد القطاعات التابعة لمؤشر التداول العام</li>
                        <li>يتم اختيار القطاع من القائمة ويظهر في القسم الأيمن الشركات التي تم إضافتها للقطاع ويظهر في القسم الأيسر باقي الشركات</li>
                        <li>يتم اختيار الشركة من القائمة في القسم الأيسر ونقلها إلى القائمة في القسم الأيمن ليتم إضافتها للقطاع</li>
                    </ul>
                </li>
                <li>
                    <b>قسم إعدادات</b>
                    <ul>
                        <li>ان الرقم صفر في عرض أيام التداول وعرض الرسم البياني تعني عرض جميع أيام التداول الموجودة وليس عدم عرض أي يوم تداول</li>
                        <li>في قسم المتوسطات المطلوبة في عرض عام: عند إضافة متوسط جديد أو التعديل على متوسط من الجدول ليس هناك حاجة للضغط على زر حفظ التغييرات حيث يتم حفظ بيانات الجدول مباشرة</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>