@model StockSystem2025.ViewModel.RegisterViewModel
@using Microsoft.AspNetCore.Identity;
@{
    ViewData["Title"] = "Regester";
    Layout = "_Layout";
}
<div class="page-wrapper">
    <div class="content">
        <div id="headerWrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-12 text-center">
                        <h2 class="main-heading">اضافة مستخدم جديد</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div id="privacyWrapper" class="">
                        <div class="privacy-container">
                            <div class="privacyContent">
                                <div class="d-flex justify-content-between privacy-head">
                                    <div class="privacyHeader">
                                        <h1>اضافة  </h1>
                                    </div>
                                </div>
                                <div class="privacy-content-container">
                                    <section>
                                        <form asp-action="Regester" method="post" enctype="multipart/form-data">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                    <div class="form-group">
                                                        <label class="control-label">الايميل</label>
                                                        <input asp-for="Email" class="form-control" />
                                                        <span asp-validation-for="Email" class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">كلمة المرور</label>
                                                        <input type="password" asp-for="password" class="form-control" />
                                                        <span asp-validation-for="password" class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">تاكيد كلمة المرور</label>
                                                        <input type="password" asp-for="ConformPassword" class="form-control" />
                                                        <span asp-validation-for="ConformPassword" class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">اسم المستخدم</label>
                                                        <input asp-for="fullname" class="form-control" />
                                                        <span asp-validation-for="fullname" class="text-danger"></span>
                                                    </div>
                                                    <div class="form-check">
                                                        <label class="form-check-label">فعال</label>
                                                        <input class="form-check-input" type="checkbox" asp-for="IsActive" checked>
                                                    </div>
                                                    <div class="form-group">
                                                        <select name="rolename" class="input">
                                                            <label class="form-check-label">اختر صلاحية المستخدم</label>
                                                            @foreach (var item in (List<IdentityRole>)ViewBag.roles)
                                                            {
                                                                <option value="@item.Name">@item.Name</option>
                                                            }
                                                        </select>
                                                    </div>
                                                    <br />
                                                    <div class="form-group">
                                                        <input type="submit" value="اضافة" class="btn btn-primary" />
                                                        <a asp-action="Index" class="btn btn-primary">الرجوع للقائمة السابقة</a>
                                                    </div>
                                                </div>

                                            </div>
                                        </form>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
